html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  padding: 0;
  border-radius: 50%;
  flex-basis: calc(var(--width) * 0.2);
  height: calc(var(--width) * 0.2);
  font-family: inherit;
  font-size: 3rem;
  font-weight: 400;
  background-color: #333;
  color: white;
}

button:active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

button:focus {
  outline: none;
}

/* removes the focus outline on firefox */
button::-moz-focus-inner {
  border: 0;
}

.calculator {
  --width: 375px;
  height: auto;
  padding: calc(var(--width) * 0.04);
  width: var(--width);
  margin: 0 auto;
  background-color: black;
}

.top {
  margin-top: 15%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}

.display {
  height: auto;
  width: 100%;
  color: white;
  padding-right: 8%;
  text-align: right;
  font-size: 6rem;
  font-weight: 300;
  overflow: auto;
}

.display::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: #000;
}

.display::-webkit-scrollbar {
  height: 10px;
  background-color: #000000;
}

.display::-webkit-scrollbar-thumb {
  background-color: #a5a5a6;
}

.buttons {
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.grey-btn {
  background-color: #a5a5a6;
  color: black;
}

.orange-btn {
  background-color: #ff9e0c;
}

.two-col-btn {
  border-radius: 35px;
  flex-basis: calc(var(--width) * 0.425);
}

@media (max-width: 375px) {
  .calculator {
    width: 100vw;
  }

  button {
    flex-basis: 20vw;
    height: calc(100vw * 0.2);
  }

  .two-col-btn {
    flex-basis: 40vw;
  }
}

/* #333 */
